@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #1a202c;
  padding: 0px 30px 0px 30px;
}

.error {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: black;
  border: 1px solid grey;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
  width: 100%;
}

.error > div{
  padding:20px
}

.loading{
  font-size: 25px;
  color: #00FFC4;
}

.loading--error{
  color: #F56565;
}


@media (max-width: 1000px) {
  .App {
    padding: 30px 30px 30px 30px;
  }
}
